.mhr-card.mhr-card--tilth(itemscope='', itemtype='http://schema.org/LocalBusiness')
  .mhr-card__content
    img.logo.logo--tilth(src='images/tilth.png')
    h2(itemprop='name') Tilth
    h3 Organic New American Cuisine
    div.address(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
      span(itemprop='streetAddress') 1411 N 45th St
      br
      span(itemprop='addressLocality') Seattle
      | ,&nbsp;
      span(itemprop='addressRegion') WA
      | &nbsp;
      span(itemprop='postalCode') 98103
    div.telephone(itemprop='telephone'): a(href='tel:2066330801') 206.633.0801
    a.button(href='#') Website

.mhr-card.mhr-card--gb(itemscope='', itemtype='http://schema.org/LocalBusiness')
  .mhr-card__content
    img.logo.logo--gb(src='images/gb.png')
    h2(itemprop='name') Golden Beetle
    h3 Organic Mediterranean Cuisine
    div.address(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
      span(itemprop='streetAddress') 1411 N 45th St
      br
      span(itemprop='addressLocality') Seattle
      | ,&nbsp;
      span(itemprop='addressRegion') WA
      | &nbsp;
      span(itemprop='postalCode') 98103
    div.telephone(itemprop='telephone'): a(href='tel:2066330801') 206.633.0801
    a.button(href='#') Website

.mhr-card.mhr-card--agrodolce(itemscope='', itemtype='http://schema.org/LocalBusiness')
  .mhr-card__content
    img.logo.logo--agrodolce(src='images/agrodolce.png')
    h2(itemprop='name') Agrodolce
    h3 Organic Sicilian Cuisine
    div.address(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
      span(itemprop='streetAddress') 1411 N 45th St
      br
      span(itemprop='addressLocality') Seattle
      | ,&nbsp;
      span(itemprop='addressRegion') WA
      | &nbsp;
      span(itemprop='postalCode') 98103
    div.telephone(itemprop='telephone'): a(href='tel:2066330801') 206.633.0801
    a.button(href='#') Website

.mhr-card.mhr-card--catering(itemscope='', itemtype='http://schema.org/LocalBusiness')
  .mhr-card__content
    img.logo.logo--catering(src='images/mhr-catering.png')
    h2(itemprop='name') Catering
    h3 Organic Cuisine
