.button
  display inline-block
  padding 0 20px
  height 40px
  line-height 37px
  border 2px solid rgba(white, .5)
  border-radius 3px
  font-size 14px
  letter-spacing 1px
  transition background 300ms ease-out-quart, box-shadow 300ms ease-out-quart 200ms
  box-shadow 0 0  0 0 black

  &:hover
    background rgba(white, .25)
    text-shadow 0 0 1px black
    box-shadow 0 0 5px -2px black
